.u-inner
  .mainTop
    h1 おすすめ商品
    ul.recommentList
      li 
        img(src="/common/img/anh2.png")
        span.itemCategory 自動排泄処理装置
        span.day 2021.09.18
        p 商品名が入ります商品名が入ります
      li 
        img(src="/common/img/anh3.png")
        span.itemCategory 自動排泄処理装置
        span.day 2021.09.18
        p 商品名が入ります商品名が入ります
      li 
        img(src="/common/img/anh4.png")
        span.itemCategory 自動排泄処理装置
        span.day 2021.09.18
        p 商品名が入ります商品名が入ります
      li 
        img(src="/common/img/anh5.png")
        span.itemCategory 自動排泄処理装置
        span.day 2021.09.18
        p 商品名が入ります商品名が入ります
      li 
        img(src="/common/img/anh2.png")
        span.itemCategory 自動排泄処理装置
        span.day 2021.09.18
        p 商品名が入ります商品名が入ります
.mainBottom
  .u-inner
    .pageLeft
      h2 レンタコムチャンネル
      ul.ad
        li
          img(src="/common/img/anh6.png") 
        li
          img(src="/common/img/anh6.png")
        li
          img(src="/common/img/anh6.png")
        li
          img(src="/common/img/anh6.png")
    .pageRight
      .background-ad
        .pageRight-Top
          h3 新着情報
          .now 新着情報一覧
        ul.text-list
          li
            span.date 2021.09.18
            span.text  テキストテキストテキストテキストテキストテキスト
          li
            span.date 2021.09.18
            span.text  テキストテキストテキストテキストテキストテキスト
          li
            span.date 2021.09.18
            span.text  テキストテキストテキストテキストテキストテキスト
          li
            span.date 2021.09.18
            span.text  テキストテキストテキストテキストテキストテキスト
          li
            span.date 2021.09.18
            span.text  テキストテキストテキストテキストテキストテキスト
          li
            span.date 2021.09.18
            span.text  テキストテキストテキストテキストテキストテキスト
          li
            span.date 2021.09.18
            span.text  テキストテキストテキストテキストテキストテキスト
      .pageRight-Bottom
        span 商品カタログ
        span テクノエイド協会
  
  