.u-inner
  .mainTop
    h1 おすすめ商品
    .imeji 
      .imeji2
          img(src="/common/img/anh2.png")
          p 商品名が入ります商品名が入ります
      .imeji3
        img(src="/common/img/anh3.png")
        p 商品名が入ります商品名が入ります
      .imeji4
        img(src="/common/img/anh4.png")
        p 商品名が入ります商品名が入ります
      .imeji6
        img(src="/common/img/anh5.png")
        p 商品名が入ります商品名が入ります
  .mainBottom
    .pageLeft
      h2 レンタコムチャンネル
      .ad
        .ad1 
          img(src="/common/img/anh6.png") 
        .ad2
          img(src="/common/img/anh6.png")
        .ad3 
          img(src="/common/img/anh6.png")
        .ad4
          img(src="/common/img/anh6.png")
    .pageRight
      h3 新着情報
      .now 新着情報一覧
      .now1 2021.09.18
      p テキストテキストテキストテキストテキストテキスト
      .now2 2021.09.18
      p テキストテキストテキストテキストテキストテキスト
      .now3 2021.09.18
      p テキストテキストテキストテキストテキストテキスト
      .now4 2021.09.18
      p テキストテキストテキストテキストテキストテキスト
      .now5 2021.09.18
      p テキストテキストテキストテキストテキストテキスト
      .now6 2021.09.18
      p テキストテキストテキストテキストテキストテキスト
      .now7 2021.09.18
      p テキストテキストテキストテキストテキストテキスト
      .now8
        img(src="/common/img/anh7.png")
        p 商品カタログ
        img(src="/common/img/anh7.png")
        p テクノエイド協会
    .last  
        a(href="#") 運営会社
        a(href="#") 特定取引法
        a(href="#") プライバシーポリシー
        a(href="#") 利用規約