.last  
    ul.last-Href
      li
        a(href="#") 運営会社
      li
        a(href="#") 特定取引法
      li 
        a(href="#") プライバシーポリシー
      li 
        a(href="#") 利用規約

footer.l-footer Copyright(c) 2021 Nikken Lease Kogyo Co.,LTD. All Rights Reserved.