header.l-header 
 .logo 
    img(src="/common/img/anh1.png")
 .khung 
    input(type="text" placeholder="商品名・商品コード")
 .page  
    ul 
        li マイページ
        li  気に入り
        li 注文歴史
        li 買い物かご
 .katagori 
    ul 
        li カテゴリから探す
        li 文字サイズ
        li 標準
        li 大