@charset "UTF-8";

/*--------------------------------------
 レイアウト
---------------------------------------*/
.l-header {
  background-color: #F8F7F4;
  padding: 25px 0 0 ;
  .headerTop{
    display: flex;
    width: 1080px;
    margin: 0 auto;
    align-items: center;
    .search{
      width: 440px;
      margin-left: 100px;
      input{
        background-color: #FFF;
        width: 100%;
        padding: 1em;
        box-sizing: border-box;
      }
    }
    nav{
      margin-left: auto;
      ul{
        display: flex;
        li{
          width: 60px;
          font-size: 12px;
        }
      }
    }
  }
  .sx{
    background-color: darkgray;
    margin: 30px 0 0 ;
  .headerBottom{
    display: flex;
    width: 1080px;
    margin: 0 auto;
    background-color: darkgray;
    .category{
      padding:0 50px;
      color: cornsilk;
      background-color: chocolate;
      box-sizing: border-box;
      }
      dl.fontSize{
        display: flex;
        margin-left:15px;
      }
        dd{
          margin-left: 2em;
        }
          span.btn.normal{
            padding: 0 5px;
            background-color: rgb(20, 20, 20);
            color: white;
        }
          span.btn.big{
            margin-left: 2em;
            padding: 0 5px;
            background-color: white;
            color: black;
          }
      .name{
        margin-left: auto;
      }
    }
  }
}
.l-footer {
  margin-top: 50px;
  text-align: center;
  color: rgb(163, 107, 39);
  padding: 20px;
  background-color: rgb(65, 88, 129);
}