@charset "UTF-8";

/*--------------------------------------
 レイアウト
---------------------------------------*/
.l-header {
  background-color: #F8F7F4;
  padding: 25px 0 0 ;
  .headerTop{
    display: flex;
    width: 1080px;
    margin: 0 auto;
    align-items: center;
    .search{
      width: 440px;
      margin-left: 100px;
      input{
        background-color: #FFF;
        width: 100%;
        padding: 1em;
        box-sizing: border-box;
      }
    }
    nav{
      margin-left: auto;
      ul{
        display: flex;
        li{
          width: 60px;
          font-size: 12px;
        }
      }
    }
  }
  .sx{
    background-color: #F0EFEC;
    margin: 30px 0 0 ;
  .headerBottom{
    display: flex;
    width: 1080px;
    margin: 0 auto;
    background-color: #F0EFEC;
    align-items: center;
    .category{
      padding:13px 52px;
      color: cornsilk;
      background-color: chocolate;
      box-sizing: border-box;
      }
      dl.fontSize{
        display: flex;
        margin-left:20px;
      }
        dd{
          margin-left: 2em;
          display: flex;
        }
          span.btn.normal{
            padding: 0 5px;
            background-color: #505050;
            color: white;
            width: 42px;
            display: block;
            text-align: center;

            border-radius: 50px;
        }
          span.btn.big{
            margin-left: 8px;
            padding: 0 5px;
            background-color: white;
            width: 42px;
            border-radius: 50px;
            color: #9F9F9F;
            display: block;
            text-align: center;
          }
      .name{
        margin-left: auto;
        font-size: 1.4rem;
        font-weight: 500;
        display: flex;
        .btn{
          margin-left: 23px;
          display: flex;
          justify-content: center;
          font-size: 1.2rem;
          align-items: center;
          background-color:#DDDBD6 ;
          border-radius: 50px;
          width: 87px;
          text-align: center;
          height: 22px;
        }
      }
    }
  }
}
.l-footer {
  margin-top: 50px;
  text-align: center;
  color: rgb(163, 107, 39);
  padding: 20px;
  background-color: rgb(65, 88, 129);
}