@charset "UTF-8";

/*--------------------------------------
 cont1
---------------------------------------*/

$name: "cont1";
$thisPath: $pathImg + $name + "/";

article:not(.#{$name}Zone){
//  display: none;
}
.#{$name}Zone{
  
}
