@charset "UTF-8";

/*--------------------------------------
 メインコンテンツ
---------------------------------------*/

$name: "main";
$thisPath: $pathImg + $name + "/";

article:not(.#{$name}Zone){
//  display: none;
}
.#{$name}Zone{
  .u-inner{
    width: 1080px;
    margin: 0 auto;
    box-sizing: border-box;
    @include mq{
      width: 100%;
      box-sizing: border-box;
    }
    .mainTop{
    }
      h1{
        margin: 30px 0;
        font-size:2rem;
        font-weight: bold;
        color: $mainColor;
      }
      .btnMore{
        display: none;
        @include mq{
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #4D4D4D;
          color: #FFF;
          border-radius: 50px;
          width: 129px;
          height: 36px;
          margin: 18px auto 0 auto;
        }
      }
      .recommentList {
        display: flex;
        justify-content: space-between;
        @include mq{
          flex-wrap: wrap;
          box-sizing: border-box;
          width: 100%;
        }
        li{
          width: 180px;
          @include mq{
            width: 47%;
            &:nth-child(n + 3){
              display: none;
            } 
          }
          img{
            margin-bottom: 10px;
          }
          .itemCategory{
            background-color: $mainColor;
            color: #FFF;
            display: inline-block;
            border-radius: 2px;
            padding:2px 8px ;
            font-size: 1.3rem;            
          }
          .day{
            font-size: 1.3rem;
            color: $mainColor;
            font-weight: 500;          }
          p{
            font-weight: bold;
            font-size: 1.6rem;
            color: #4D4D4D;
          }

        }
      }

  }
    .mainBottom{
      margin-top: 24px;
      padding-top: 50px;
      padding-bottom: 30px;
      background-color: #FAF2E8;
      
      @include mq{
        width: 100%;
        padding-top: 35px;
      }
      h2{
        font-size: 1.8rem;
        font-weight: bold;
        border-bottom: 2px solid#F1F1F1;
        margin-bottom: 19px;
        padding-bottom: 15px;
        color: #4D4D4D;
        @include mq{
          padding: 0px 0px 10px 0px;
          margin: 0px 0 25px 0;
        }
      }
      .u-inner{
        display: flex;
        justify-content: space-between;
        @include mq{
          display: block;
        }
      }
      .pageLeft{
        background-color: #FFFF;
        width: 510px;
        box-sizing: border-box;
        padding: 25px 30px;
        @include mq{
          width: 100%;
          margin-bottom: 34px;
        }
        
        ul.ad{
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          width: 440px;
          margin: 0 auto;
          @include mq{
            flex-wrap: wrap;
            width: 100%;
            box-sizing: border-box;
          }
          li{
            justify-content: space-between;
            width: 209px;
            height: 123px;
            margin: 0 0 27px 0;
            @include mq{
              width: 47%;
              height: auto;
              margin: 0px 0px 20px 0px;
            }
          }
          }
        }
      }
      .background-ad{
        background-color: #FFFF;
        width: 510px;
        padding: 25px 30px;
        box-sizing: border-box;
        @include mq{
          width: 100%;
          margin-bottom: 34px;
        }
        @include mq{
          width: 100%;
        }
        .pageRight-Top{
          display: flex;
          justify-content: space-between;
          @include mq{
            width: 100%;
            span{
              width: 50%;
              flex-shrink: 0;
            }
          }
          h3{
            font-size:1.8rem ;
            font-weight: bold;
            color:#4D4D4D ;
          }
          .now{
            font-size: 1.2rem;
            padding: 6px 41px 6px 13px;
            background-color: #4D4D4D;
            color: #FFFFFF;
            border-radius: 30px;
            margin-left: 180px;
            @include mq{
              margin-left: 0px;
              flex-shrink: 0px;
              width: 138px;
            }
          }
          }
          ul.text-list{
            line-height: 2em;
            font-size: 1.4rem;
            li{
              padding: 5px 0;
              span.date{
                color: chocolate;
              }
              span.text{
                margin-left:30px ;
              }
            }
          }
        }
        .pageRight-Bottom{
          margin-top:55px ;
          display: flex;
          justify-content: space-between;
          justify-items: center;
          span{
            width: 240px;
            height: 44px;
            display: flex;
            align-items: center;
            padding-left: 18px;
            font-size: 1.4rem;
            background-color:#E3891F ;
            border-radius: 6px;
            color: #FFFFFF;
            box-sizing: border-box;
          }
        }
    
}