@charset "UTF-8";

/*--------------------------------------
 メインコンテンツ
---------------------------------------*/

$name: "main";
$thisPath: $pathImg + $name + "/";

article:not(.#{$name}Zone){
//  display: none;
}
.#{$name}Zone{
  .u-inner{
    .mainTop{
      width: 1080px;
      margin: 0 auto;
    }
      h1{
        margin: 45px 0;
        font-size: 1.5em;
        color: chocolate;
      }
      .imeji {
        display: flex;
      }
    .mainBottom{
      width: 1300px;
      margin-top: 50px;
      background-color: rgb(221, 184, 157);
      .pageLeft{
        h2{
          font-size: 1.3em;
          width: 1080px;
          margin: 0 auto;
        .ad{
        display: flex;
        flex-wrap: wrap;
        }
        }
      }
    }
  }
}